<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<app-operator *ngIf="operator" [operator]="operator"></app-operator>
				<div class="logo-element">BPM</div>
			</li>

			<li *ngFor="let link of links">
				<a [routerLink]="link._id">
					<!-- <i [class]="link.icon"></i>  -->
					<span class="nav-label" [innerHtml]="link.title"></span> 
					<!-- <span class="fa arrow"></span> -->
				</a>
			</li>
		</ul>
	</div>
</nav>
