<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Client Information</h5>
  </div>
  <div class="ibox-content form-horizontal">
    <form class="form-horizontal">
    <div class="row">
      <!-- First panel 
          ==============
          This panel will house the most basic 
          of input. client name tin. It will 
          initiate a search when the button "Next" 
          is pressed
      -->
      
      <div>
        <div class="col-sm-10">
          <!-- TODO: Add a button to perform and advance search -->
          <textbox [config]="{label: { text: 'Entity Name' }, input: { name: 'name' }}"></textbox>
          <textbox [config]="{label: { text: 'Tax ID Number' }, input: { name: 'tin' }}"></textbox>
          <dropdown [config]="{
            label: { text: 'Individual/Non-individual' },
            input: { name: 'type', options: [
              { value: 'individual', text: 'Individual'},
              { value: 'non-individual', text: 'Non-individual'}
            ]}
          }"></dropdown>
        </div>
      </div>

      <!-- panel (2)
          ================
          This panel will contain the contect 
          and address information for the client

          <button (click)="justChecking()">Check it</button>
      -->
      <div>
        <div class="col-sm-12">
          <!-- TODO: Create a contact module template and place it here -->
          <datatable 
            [dataset]="contactdata"
            [config]="{
              headers: [
                { key: 'type', text: 'Type' },
                { key: 'description', text: 'Description' }
              ],
              action: {
                enable: true,
                text: 'Action',
                button: {
                  add: { enable: true, text: 'Add Product' },
                  style: 'buttons',
                  view: { enable: false },
                  edit: { enable: true },
                  delete: { enable: true }
                }
              }
            }"
          ></datatable>

          
          <!-- TODO: Create a address module template and place it here -->
          <datatable 
            [dataset]="addressdata"
            [config]="{
              headers: [
                {key: 'line1', text: 'Address Line 1'},
                {key: 'line2', text: 'Address Line 2'},
                {key: 'line3', text: 'Address Line 3'},
                {key: 'city', text: 'City'},
                {key: 'state', text: 'State'},
                {key: 'zip', text: 'Postal Code'},
                {key: 'type', text: 'Type'}
              ],
              action: {
                enable: true,
                text: 'Action',
                button: {
                  add: { enable: true, text: 'New Address' },
                  style: 'buttons',
                  view: { enable: false },
                  edit: { enable: true },
                  delete: { enable: true }
                }
              }
            }"
          ></datatable>
        </div>
      </div>
      

      <!-- Panel (3)
          ================
          This panel contains the products module
      -->
      <div>
        <div class="col-sm-12">
          <!-- TODO: Create a products module template and place it here -->
          <datatable 
            [dataset]="productsdata"
            [config]="{
              headers: [
                {key: 'number', text: 'Account Number'},
                {key: 'family', text: 'Product Family'},
                {key: 'name', text: 'Name'},
                {key: 'relationship', text: 'Relationship'}
              ],
              action: {
                enable: true,
                text: 'Action',
                button: {
                  add: { enable: true, text: 'New Product' },
                  style: 'buttons',
                  view: { enable: false },
                  edit: { enable: true },
                  delete: { enable: true }
                }
              }
            }"
          ></datatable>
        </div>
      </div>
      
    </div>
    </form>
  </div>
</div>
