<textbox *ngIf="element.textbox" 
  [config]= "element[element.type]"
  [bind]=   "pair(data, element.bind)" (update)= "pair(data, element.bind, $event)"
></textbox>
<checkbox *ngIf="element.checkbox" 
  [config]= "element.checkbox"
  [bind]=   "pair(data, element.bind)" (update)= "pair(data, element.bind, $event)"
></checkbox>
<radio *ngIf="element.radio"    
  [config]= "element.radio"
  [bind]=   "pair(data, element.bind)" (update)= "pair(data, element.bind, $event)"
></radio>
<dropdown *ngIf="element.dropdown" 
  [config]= "element.dropdown"
  [bind]=   "pair(data, element.bind)" (update)= "pair(data, element.bind, $event)"
></dropdown>
<textblock *ngIf="element.textblock"
  [config]= "element.textblock"
  [bind]=   "pair(data, element.bind)" (update)= "pair(data, element.bind, $event)"
></textblock>
<datatable *ngIf="element.datatable"
  [config]= "element.datatable"
  [dataset]="pair(data, element.bind)"
></datatable>
<dlist *ngIf="element.dlist"
  [config]= "element.dlist"
  [data]=   "data"
></dlist>
<accordion *ngIf="element.accordion"
  [config]= "element.accordion"
  [dataset]="pair(data, element.bind)"
></accordion>

<div *ngIf="element.button" class="form-group"> <!-- This is only used in panel containers -->
  <div class="col-sm-offset-4 col-sm-8">
      <app-button
      [host] = "'container'"
      [config]= "element.button"
      [data]=   "data"
    ></app-button>
  </div>
</div>
