<li class="dropdown">

	<a class="dropdown-toggle text-primary" data-toggle="dropdown" href="javascript:;">
		<i class="fa fa-bell-o fa-lg"></i>
	</a>

	<ul class="dropdown-menu dropdown-alerts">
		<li *ngFor="let notification of notifications; let i = index">
			<!-- <div *ngIf="i > 0" class="divider"></div> -->
			<a href="#">
				<div>
					<i [ngClass]="{'neptune' : 'fa fa-cogs fa-fw', 'user' : 'fa fa-user fa-fw' }[notification.from]"></i> {{notification.subject}}
					<span class="pull-right text-muted small"> {{notification.created}}</span>
				</div>
			</a>
		</li>
		<li>
			<div class="divider"></div>
			<div class="text-center link-block">
				<a [routerLink]="'/authorized/notifications'">
					<strong>See All Alerts</strong>
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</li>
	</ul>
</li>



<!-- <li class="divider"></li>
<li>
    <a href="profile.html">
        <div>
            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
            <span class="pull-right text-muted small">12 minutes ago</span>
        </div>
    </a>
</li>
<li class="divider"></li>
<li>
    <a href="grid_options.html">
        <div>
            <i class="fa fa-upload fa-fw"></i> Server Rebooted
            <span class="pull-right text-muted small">4 minutes ago</span>
        </div>
    </a>
</li> -->