<ul *ngIf="panels.length > 1" class="nav nav-pills nav-justified" role="tablist">
  <li *ngFor="let panel of panels; let id = index;" [ngClass]="(id === 0)?'nav-link active':'nav-link'">
    <a [href]="'#' + id" role="tab" [innerHtml]="panel.name" data-toggle="tab"></a>
  </li>
</ul>
<div class="tab-content">
  <div *ngFor="let panel of panels; let id = index;" [ngClass]="(id === 0)?'tab-pane active':'tab-pane'" [id]="id" role="tabpanel">
    <panel [panel]="panel" [data]="data"></panel>
  </div>
</div>
<!--

-->