.tab-content {
  padding-top: 25px;
  padding-bottom: 30px;
}
.pane-container {
  padding-top: 25px;
}
.nav-link {
  padding: 0px 5px 0px 5px;
}
.nav-pills>li>a {
  font-size: 11px; 
}
.nav-pills > li.active {
  border-left: 0px;
  background: white;
}
.navbar {
  border-radius: 0px;
}
.nav > li > a {
  padding: 15px 25px 14px 25px;
}