<ul *ngIf="panels.length > 1" class="nav nav-pills nav-justified" role="tablist">
  <li *ngFor="let panel of panels; let i = index;" [ngClass]="(panel.active)?'nav-link active':'nav-link'" (click)="aetActivePanel(i)">
    <a [href]="'#' + panel.id" role="tab" [innerHtml]="panel.name" data-toggle="tab"></a>
  </li>
</ul>
<div class="tab-content">
  <div *ngFor="let panel of panels; let i = index;" [ngClass]="(panel.active)?'tab-pane active':'tab-pane'" [id]="panel.id" role="tabpanel">
    <panel 
      [panel]="panel" 
      [data]="data">
    </panel>
  </div>
</div>
<!--

-->