<button *ngIf="config.button && config.button.enable" class="btn btn-default btn-sm" type="button"  data-toggle="modal" [attr.data-target] = "'#' + id" [innerHtml]="config.button.text"></button>
<div class="modal fade" [id]="id" tabindex="-1" role="dialog" [attr.aria-labelledby]="'modal' + config.labelBy">
  <div [ngClass]="(!config.size)? 'modal-dialog': { 'small' : 'modal-dialog modal-sm', 'large' : 'modal-dialog modal-lg'}[config.size]" role="document">
    <div class="modal-content">
      <div *ngIf="config.header.enable" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" [id]="'modal' + config.labelBy" [innerHtml]="config.header.text"></h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <wizard [panels]="config.form.panels" [data]="editableDatarow"></wizard>
        </div>
      </div>
      <div *ngIf="config.footer.enable" class="modal-footer">
        <button (click)="cancelChange()" type="button" class="btn btn-default btn-action" data-dismiss="modal">Cancel</button>
        <button *ngIf="config.footer.enable" (click)="commits()" type="button" class="btn btn-warning btn-action" data-dismiss="modal" [innerHtml]="config.footer.commit.text"></button>
      </div>
    </div>
  </div>
</div>
