<div class="dropdown profile-element">
  <span class="block m-t-xs">
    <a routerLink="/authorized/home">
        <strong class="font-bold" [innerHtml]="operator.name"></strong>
    </a>
  </span>
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
    <span class="clear">
      <span class="text-muted text-xs block">
        <span [innerHtml]="operator.title"></span>
        <b class="caret"></b>
      </span>
    </span>
  </a>
  <ul class="dropdown-menu animated fadeInRight m-t-xs">
    <li><a routerLink="/authorized/profile">Profile</a></li>
    <!-- <li><a routerLink="/authorized/contact">Contacts</a></li> -->
    <!-- <li><a routerLink="/authorized/mailbox">Mailbox</a></li> -->
    <li class="divider"></li>
    <li><a>Logout</a></li>
  </ul>
</div>
